# Static pose reaching task
# Used for MPC simulations with and without torque tracking

# Frequencies
simu_freq: 20000  # Simulation frequency in Hz
ctrl_freq: 1000  # Control frequency
plan_freq: 1000  # Planning frequency

# Simu duration (s)
T_tot: 1.
# MPC
dt: 0.03      # OCP integration step 
N_h: 30       # Horizon length in nodes
maxiter: 2    # Max number of iterations in DDP

# Initial robot state
q0: [0.1, 0.7, 0., 0.7, -0.5, 1.5, 0.]
dq0: [0.,0.,0.,0.,0.,0.,0.]

# State regularization 
stateRegWeights: [1., 1., 1., 1., 1., 1., 1., 5., 5., 5., 5., 5., 5., 5.]
xRegWeight: 0.01
xRegWeightTerminal: 0.01

# Torque regularization 
ctrlRegWeights: [1., 1., 1., 1., 1., 1., 2.]
uRegWeight: 0.02

# State limits
xLimWeight: 1.
xLimWeightTerminal: 1.

# Torque limits
u_lim: [320, 320, 176, 176, 110, 40, 40]
uLimWeight: 1.

# Frame placement 
p_des: [-0.5, -0.5, 0.7]  # Desired end-effector position
framePlacementWeights:  [1., 1., 1., 1., 1., 1.]
frameWeight: 0.0005
framePlacementWeightTerminal: 10.

# armature
armature: [.1, .1, .1, .1, .1, .1, .1]


# Low-level simulation (actuation model)
  # Scaling of desired torque
alpha_min: 0.95
alpha_max: 1.05
beta_min: 0.
beta_max: 0.
  # White noise on desired torque and measured state
var_u: [3.0, 3.0, 2.0, 2.0, 1.0, 0.1, 0.1]
var_q: 0.005
var_v: 0.001
  # Buffer for torque delay
delay_ms: 1 # in ms
  # Proportional-integral torque control gains
Kp: [.1, .2, .2, .1, .1, .2, .1]
Ki: [.001, .001, .001, .001, .001, .001, .001]
Kd: [.00001, .00001, .00001, 0., 0., 0., 0.]
avg_length: 3 #8